@*@model IEnumerable<LagerSystem1.Models.StockItem>*@
@model LagerSystem1.ViewModels.ResultModel

@{
    
    AjaxOptions options = new AjaxOptions
    {
        HttpMethod = "Post",
        Confirm = "Delete item?"
    };
}

<form method="get">
    <div class="searchBox">
        <input type="search" name="query" />
        <input type="submit" value="Search" class="btn btn-default" />
    </div>
</form>

<div>
    @using (Html.BeginForm("Create", "Nav", FormMethod.Get))
    {
        <input type="submit" class="btn btn-default delBtn" value="Create New" />
    }
</div>

<table class="table" id="test">
    <tr>
        <th>
            @Html.ActionLink("Name", "Index", new { sortInput = "Name", query = Model.query, direction = Model.sortStates["Name"] })
        </th>
        <th>
            @Html.ActionLink("Price", "Index", new { sortInput = "Price", query = Model.query, direction = Model.sortStates["Price"] })
        </th>
        <th>
            @Html.ActionLink("Shelf", "Index", new { sortInput = "Shelf", query = Model.query, direction = Model.sortStates["Shelf"] })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.results[0].Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.results)
{
    <tr class = "elTablo">
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shelf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            
            @*Fick inte ajaxhelpers att funka riktigt som jag ville*@

            @*@Ajax.ActionLink("Delete", "Delete", new {id = item.ItemId}, options)*@
            @using (Html.BeginForm("Edit", "Nav", new {id = item.ItemId}, FormMethod.Get, new {@class = "formEditDelete"}))
            {
                <input type="submit" class="btn btn-default delBtn" value="Edit"/>
            }
            @*@using (Ajax.BeginForm("Delete", "Nav", new { id = item.ItemId }, options, new { @class = "formEditDelete"}))
            {
                <input type="submit" class="btn btn-default delBtn" value="Delete"/>
            }*@
            @using (Html.BeginForm("Delete", "Nav", new {id = item.ItemId}, FormMethod.Post, new {@class = "formEditDelete"}))
            {
                <input type="submit" class="btn btn-default delBtn" value="Delete"/>
            }
        </td>
    </tr>
}
   
</table>

@if (Model.item != null)
{
    using (Html.BeginForm("Undo", "Nav", new { input = Model.item.ToString() }, FormMethod.Post))
    {
        <input type="submit" class="btn btn-default" value="Undo" />
    }
}